:root {
  --color-white: #fff;
  --color-accent: #FBD784;

  --font-family: 'Gilroy', sans-serif;
  --second-family: 'Chronicle Display', serif;

  --container-max-width: 1760px;
  --container-padding-x: 80px;
}

body {
  background-color: #333;
}

a {
  font: inherit;
  color: unset;
  text-decoration: none;
  transition-duration: 0.3s;
}

.container {
  max-width: calc(var(--container-max-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.header__inner {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--color-white);
}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.account {
  display: flex;
  column-gap: 8px;
}

.logo:hover,
.nav__link:hover,
.account:hover {
  color: var(--color-accent);
}

.aside {
  margin-top: 360px;
}

.aside__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  width: 100%;
  display: flex;
  row-gap: 24px;
  flex-direction: column;
}

.social__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--color-white);
  writing-mode: vertical-rl;
}

.social__link {
  color: var(--color-white);
}

.social__link:hover {
  color: var(--color-accent);
}

.slider__list {
  display: flex;
  row-gap: 40px;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
}

.slider__list::after {
  content: '';
  position: absolute;
  right: -32px;
  top: -6px;
  width: 3px;
  height: 240px;
  background-color: var(--color-white);
  opacity: 0.5;
}

.slider__item {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--color-white);
  position: relative;
}

.slider__item:hover {
  color: var(--color-accent);
}

.slider__item:first-child::after {
  content: '';
  position: absolute;
  right: -32px;
  top: -6px;
  width: 3px;
  height: 60px;
  background-color: var(--color-white);
}

.content__inner {
  max-width: calc(1462px + 10px * 2);
  padding-inline: 10px;
  margin-inline: auto;
}

.block1 {
  display: flex;
  align-items: center;
  column-gap: 114px;
}

.block1__content {
  max-width: 632px;
  display: flex;
  row-gap: 27px;
  flex-direction: column;
  padding-top: 140px;
  padding-left: 150px;
  padding-bottom: 140px;
}

.block1__tagline {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  color: var(--color-accent);
  display: flex;
  align-items: center;
  column-gap: 24px;
  flex-direction: row;
}

.block1__tagline::before {
  content: '';
  display: inline-block;
  width: 72px;
  height: 2px;
  background-color: var(--color-accent);
}

.block1__title {
  width: 555px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 64px;
  line-height: 1.1;
  color: var(--color-white);
}

.block1__desc {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--color-white);
}

.block1__link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--color-accent);
}

.block1__link:hover {
  color: var(--color-white);
}

.block1__link::after {
  content: url('../icons/arrow.svg');
  margin-left: 16px;
  margin-top: 2px;
}

.block1__img {
  max-width: 566px;
  height: 720px;
}
