:root {
  --color-white: #fff;
  --color-accent: #FBD784;

  --font-family: 'Gilroy', sans-serif;

  --container-max-width: 1760px;
  --container-padding-x: 80px;
}

body {
  background-color: #333;
}

a {
  font: inherit;
  color: unset;
  text-decoration: none;
  transition-duration: 0.3s;
}

.container {
  max-width: calc(var(--container-max-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.header__inner {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--color-white);
}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.account {
  display: flex;
  column-gap: 8px;
}

.logo:hover,
.nav__link:hover,
.account:hover {
  color: var(--color-accent);
}
